@import "bootstrap";

/* universal */
$grayMediumLight: #eaeaea;

@mixin display_block {
  display: inline-block;
  vertical-align: top;
}

html {
  margin:0;
  padding:0;
  height:100%;
}

body {
  background: url(image_1.jpg);
  margin:0;
  padding:0;
  height:100%;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.main {
  margin:0;
  padding:0;
  min-height: 100%;
}

.hFooter { 
  clear: both;
  height: 40px; 
}

.user_info, .user_info_resources, .home_user_sign_in, 
.static_info, .resource_field, .login_info, .new_user_login {
  margin-left: 20%;
  @include display_block;
}

.login_field {
  @include display_block;
}

.field {
  font-size: 30px;
}

.resource_name {
  @include display_block;
}

.resource_timeout {
  @include display_block;
  margin-left: 3%;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.footer_info {
  margin-right: 5%;
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  margin: 0;
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h1.title_info {
  padding-top: 60px;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}


/* footer */

footer {
  border-top: 1px solid #eaeaea;
  color: #999;
  height: 40px;
  margin-top: -40px;
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}


/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

/* bootstrap*/

ul {
  list-style: disc outside none;
  font-size: 14px;
}