<% provide(:title, 'About') %>
<h1 class="title_info">Site update notifier</h1>
<div class="static_info">
	<p>
   		It is web-service that checks specified web-resources for update and notifies owner if resource was updated since last check.
	</p>
</div>
