<!DOCTYPE html>
<html>
  <head>
    <title>Site update notifier | About us</title>
  </head>
  <body>
    <h1>Site update notifier</h1>
      It is web-service that checks specified web-resources for update and notifies owner if resource was updated since last check.
  </body>
</html>
