<table class="front" summary="For signed-in users">
  <tr>
    <td class="main">
      <h1 class="resource">Resources</h1>
      <%= render 'resources/resource_form' %>
      <%= render 'resources/feed' %>
    </td>
    <td class="sidebar round">
      <%= render 'sessions/userdata' %>
  </tr>
</table>