<div class="user_info">
  <tr>
  	<p>
  		You are sign in! Information about user 
  		<span class="user_name">
        	<%= current_user.name %>
        </span>
  	</p>
  	<a href="<%= user_path(current_user) %>">
  	  here.
  	</a>
</div>