<li>
  <span class="url"><%= resource.url %></span>
  <span class="name"><%= resource.name %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(resource.created_at) %> ago.
  </span>
</li>