<tr>
  <td class="resource">
  	<span class="name"><%= resource.name %></span>
    <span class="url"><%= resource.url %></span>
  </td>
  <% user = resource.user rescue User.find(resource.user_id) %>
</tr>